body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    flex-grow: 1;
    text-align: center;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color: #fff;
  }
.one h1{
  text-transform: uppercase;
}
#services{
  padding: 30px;
}