* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.hod {
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;

}

.bca-hod {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5rem 0px 20px 0;
    font-size: 30px;
}

.container {
    display: flex;
    text-align: left;
    width: max-content;
    margin: auto;
    background-color: thistle;
    border-radius: 5px;
}

.container-one {
    padding: 1rem 0 0 2rem;
}

.container-one h1 {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.container-zero img {
    padding: 10px;
    border-radius: 15px;
}

.profile {
    text-align: center;
    padding: 50px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.containers {
    display: flex;
    text-align: left;
    /* width: max-content; */
    /* margin: auto; */
    /* background-color: thistle; */
    border-radius: 5px;
}

.container-pros {
    padding: 1rem 0 0 2rem;
}

.container-pros h1 {
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.container-pro img {
    padding: 10px;
    border-radius: 15px;
}

.con {
    background-color: rgb(241, 107, 107);
}